<form method="post" action="{{ path('app_criminal_delete', {'id': criminal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ criminal.id) }}">
    <button class="btn">Delete</button>
</form>
