{% extends 'base.html.twig' %}

{% block title %}New Criminal{% endblock %}

{% block body %}
    <h1>Create new Criminal</h1>

    {{ include('criminal/_form.html.twig') }}

    <a href="{{ path('app_criminal_index') }}">back to list</a>
{% endblock %}
